textarea:focus,
input:focus {
	outline: none;
}
.nice-dates-day.-disabled.-selected.-wide:before {
	background-color: rgb(17, 24, 39);
	z-index: 1;
}

.nice-dates-navigation,
.nice-dates-day {
	color: #111;
}

.nice-dates-popover {
	box-shadow: none;
	border: 1px solid #ddd;
	border-radius: 2px;
	max-width: 480px;
	transition: none;
}
